.cta__primary {
  background: var(--color-primary);
  color: var(--color-text-light);
  font-family: var(--font-primary);
  font-size: .8rem;
  font-weight: 700;
  padding: var(--spacing-md) var(--spacing-lg);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: .2rem;
  /* width: 100%; */
}

.cta__primary:hover {
  color: var(--color-text);
  background: var(--gradient-accent);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  transform: translateY(-2px)!important;
}

.cta__primary:disabled{
  opacity: 0.5;
  cursor: not-allowed;
  background: #6c757d;
  color: var(--color-text-light);
  transform: none;
  box-shadow: none;
}