.cta__primary {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-family: var(--font-primary);
    font-size: .8rem;
    font-weight: 700;
    padding: var(--spacing-md) var(--spacing-lg);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
  }
  
  .cta__primary:hover {
    background-color: var(--color-accent);
    /* A slightly lighter gold */
    transform: translateY(-2px);
  }