.site-header {
  background-color: transparent;
  padding: var(--spacing-md) 0;
  /* border-bottom: 1px solid var(--color-border); */
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.site-header__brand{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.site-header__brand span{
  font-size: 1.2rem;
  font-family: var(--font-primary);
}

.site-header__brand a {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
  position: relative;
}

/* .site-header__brand>a::after{
position: absolute;
content: "";
width: 1.5rem;
height: 1.25rem;
right: -1.5rem;
top: 1rem;
background-color: black;
border-radius: 50%;
} */

.site-header__nav ul {
  display: flex;
  gap: var(--spacing-lg);
}

.site-header__nav a {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-header__nav a:hover,
.site-header__nav a.active {
  color: var(--color-accent);
  text-decoration: none;
}

.site-header__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.site-header__icon-link {
  color: var(--color-primary);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  text-decoration: none;
  font-weight: 600;
}

.site-header__icon-link:hover {
  color: var(--color-accent);
  text-decoration: none;
}