@import './styles/variables.css';

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  /* background-color: #000; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-primary);
}

a {
  color: var(--color-info);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* Chrome, Edge, Safari */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Fade-in-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.fade-in-up.delay-1 {
  animation-delay: 0.1s;
}
.fade-in-up.delay-2 {
  animation-delay: 0.3s;
}
.fade-in-up.delay-3 {
  animation-delay: 0.5s;
}
.fade-in-up.delay-4 {
  animation-delay: 0.7s;
}
.fade-in-up.delay-5 {
  animation-delay: 0.9s;
}